@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.square_left{
  position: absolute;
  overflow: hidden;
  background:  #FFD801;
  width: 10vw;
  height: 100%;
  margin: 0vw;
  z-index: 1vw;
}

.search{
  float: right;
  margin: 63px 150px 0px 0px;
  max-width: 486px;
  max-height: 64px;
}


input {
  position: absolute;
  font-size: 22px;
  padding: 10px;
  display: block;
  width: 460px;
  height: 55px;
  border: 3px solid #000000;
  float: right;
  /* margin: 30px 50px 0px 0px; */
  z-index: 10;
}

.search_img{
  position: relative;
  width: 40px;
  margin-left: 21vw;
  margin-top: 0.3vw;
  opacity: 50%;
  z-index: 15;
}

.logo{
  position: fixed;
  width: 2.9vw;
  margin: 1vw 0vw 0vw 1vw;
}

.header_list{
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  top: 7.7vw;
  left: 2vw;

}
.header_list,li{
  list-style: none;
  margin: 0vw 0vw 0vw 6vw;
  z-index: 20;
}

.header_link_1{
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 20vw;
  background: white;
  border: 3px solid black;
  padding: 1vw 3vw 1vw 3vw;
}

.header_link_1:hover{
  background-color: black;
  color: white;
}

.header_link_2{
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 20vw;
  background: white;
  border: 3px solid transparent;
  padding: 1vw 3vw 1vw 3vw;
}

.header_link_2:hover{
  background-color: black;
  color: white;
}

.header_link_3{
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 20vw;
  background: white;
  border: 3px solid transparent;
  transition: black;
  padding: 1vw 3vw 1vw 3vw;
}

.header_link_3:hover{
  background-color: black;
  color: white;
}

.content{
  position: absolute;
  /* overflow: hidden; */
  padding-right: 7vw;
  padding-left: 7vw;
  margin-top: 13.5vw;
}


.img1{
  position: absolute;
  float: left;
  width: 44vw;
  /* height: 10vw; */
  margin: 0vw 0 0 0vw;
}

.img2{
  /* float:left; */
  width: 23.6vw;
  /* height: 10vw; */
  margin: 0vw 0 0 44vw;
  z-index: 10;
}

.text1{
  background: blue;
  border: 3px solid black;
  line-height: 57px;
  width: 61vw;
  max-height: 16vh;
  padding: 3vw 3vw;
  font-size: 43px;
  font-weight: 400;
  color: white;
  margin-top: 1.5vw;
}

.hand{
  position: relative;
  display: block;
  width: 16.5vw;
  height: 76vh;
  margin-top: -43.1vw;
  margin-left: 69.2vw;
}


.back_hand{
  position: absolute;
  display: block;
  background: red;
  border: 3px solid black;
  width: 100%;
  height: 100%;
  /* margin-top: -43.1vw;
  margin-left: 69.2vw;
  z-index: 20; */
}

.img_hand{
  position: absolute;
  width: 38vw;
  margin-left:  -16.3vw;
  margin-top: -0.3vw;
  /* bottom: 0vw; */
  z-index: 20;
}

.planets{
  position: absolute;
  /* overflow: hidden; */
  padding-right: 6vw;
  padding-left: 7vw;
  margin-top: 63vw;
  display: flex;
}

.planet1{
  width: 24vw;
  margin: -1vw -5vw -1vw -4.5vw;
}

.planet2,
.planet3,
.planet4{
  width: 14vw;
  margin-left: 10vw;
}

.name{
  position: absolute;
  /* overflow: hidden; */
  margin-top: -2vw;
  margin-left: 4vw;
  font-size: 30px;
  font-weight: 800;
  width: 87vw;
  color: black;
  display: flex;
}


.u1{
  transform: rotate(37deg);
  width: 6vw;
  margin-left: 6vw;
  margin-top: 0vw;
}

.u2,
.u3,
.u4{
  transform: rotate(37deg);
  width: 6vw;
  margin-left: 18vw;
  margin-top: 0vw;
}

.part2{
  position: absolute;
  overflow: hidden;
  padding-right: 6vw;
  padding-left: 7vw;
  margin-top: 81vw;
}

.text2{
  position: relative;
  border: 4px solid black;
  text-align: center;
  width: 80vw;
  height: 4.7vh;
  padding: 5.5vw 3vw;;
  font-size: 44px;
  font-weight: 600;
  margin-left: 0;
  margin-top: 0;
}

.img6{
  width: 68vw;
  margin-top: 4vw;
  margin-left: 0vw;
}

.img3{
  width: 25.5vw;
  margin-left: 0vw;
  margin-top: 0vw;
}

.img5{
  width: 41vw;
  height: 16.5vw;
  margin-left: 1vw;
  margin-top: 1.2vw;
}

.button_buy{
  position: relative;
  margin-left: 39.5vw;
  margin-top: -5vw;
  z-index: 10;
}

.buy{
  width: 20vw;
  background: white;
  border: 3px solid black;
  padding: 1vw 5vw 1vw 5vw;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: black;
}

.buy:hover{
  background-color: black;
  color: white;
}

.mood{
  position: absolute;
  border: 4px solid black;
  width: 6.5vw;
  height: 34vw;
  padding: 0vw 4vw 2vw 6vw;
  font-size: 21px;
  font-weight: 600;
  text-align: left;
  line-height: 5.5;
  color: black;
  margin-left: 69.5vw;
  margin-top: -32.5vw;
}

.color{
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  transform: rotate(90deg);
  margin-top: -12.3vw;
  margin-left: 55.7vw;
  width: 37vw;
  height: 0vw;
}

.orange,
.violet,
/* .blue, */
.red,
.green,
.yellow{
  border-radius: 50%;
  width: 2.8vw;
  height: 5vh;
  margin: 0vw 0vw 0vw 3.2vw;
}

.orange{
  background: #FF9A02;
}

.violet{
  background: #9F02FF;
}

.blue{
  border-radius: 50%;
  background: #179EEB;
  width: 2.8vw;
  height: 5vh;

}

.red{
  background: #FF0202;
}

.green{
  background: #30EF00;
}

.yellow{
  background: #FFF502;
}


.text3{
  position: relative;
  background: blue;
  border: 4px solid black;
  line-height: 57px;
  width: 80vw;
  height: 11vh;
  padding: 3vw 3vw;;
  font-size: 44px;
  font-weight: 400;
  color: white;
  margin-left: 0vw;
  margin-top: 8vw;
}

.footer{
  position: absolute;
  overflow: hidden;
  width: 100.1%;
  height: 13vw;
  background: black;
  margin-left: 0vw;
  margin-top: 155.5vw;
  /* text-decoration: none;
   */
}

.footer_menu{
  /* position: relative; */
  overflow: hidden;
  display: flex;
  margin-top: 3vw;
  margin-left: 18vw;
  color: white;
  font-size: 21px;
  font-weight: 400;
}

.footer_email{
  /* position: relative; */
  overflow: hidden;
  display: flex;
  margin-top: 3vw;
  margin-left: 18vw;
  color: white;
  font-size: 21px;
  font-weight: 405;
}

.menu_a{
  list-style: none;
  margin-left: 10vw;
  margin: 0vw 0vw 0vw 0vw ;
  width: 17vw;
  color: white;
  text-decoration: none;

}

.email_p{
  list-style: none;
  margin: 0vw 0vw 0vw 0vw ;
  width: 17vw;
  text-decoration: none;
}

.email_p_address{
  width: 20vw;
}


.facebook{
  position: relative;
  width: 2.5vw;
  left: 90.5vw;
  top: -6.7vw;
}

.insta{
  position: relative;
  width: 2.5vw;
  left: 87.7vw;
  top: -2vw;
}


@media (min-width: 1440px) and (max-width:1919px) {

  .search{
    margin: 40px 110px 0px 0px;
  }

  input {
    width: 380px;
    height: 50px;
  }

  .search_img{
    width: 32px;
    margin-left: 23.5vw;
    margin-top: 0.5vw;
  }

  .text1{
    max-height: 16vh;
    font-size: 32px;
    padding: 3vw 3vw;
  }

  .text2{
    font-size: 32px;
    padding: 4vw 3vw 4vw;
  }



  .hand{
    position: relative;
    display: block;
    width: 16.5vw;
    height: 65.5vh;
    margin-top: -45.4vw;
    margin-left: 69.2vw;
  }
  .img_hand{
    width: 38vw;
    margin-left:  -16.3vw;
    margin-top: 2vw;

  }

  .name{
    font-size: 24px;
    margin-top: -1.5vw;
  }

  .planets{
    margin-top: 66vw;
  }

  .part2{
    margin-top: 83vw;
  }
  .mood{
    padding: 0vw 4vw 2vw 6vw;
    font-size: 19px;
    line-height: 4.5;
    margin-left: 69.5vw;
    margin-top: -33vw;
  }

  .color{
    margin-top: -14.3vw;
  }

  .orange,
  .violet,
  .blue,
  .red,
  .green,
  .yellow{
    width: 2.3vw;
    height: 3.5vh;
    margin: 0vw 1.7vw 0vw 1.9vw;
  }

  .text3{
    max-height: 16vh;
    font-size: 32px;
    padding: 3vw 3vw;
  }

  .buy{
    font-size: 19px;
  }


  .footer{
    margin-top: 159vw;
    font-size: 19vw;

  }

  .footer_menu{
    font-size: 19px;
  }

  .footer_email{
    font-size: 19px;
  }


  .facebook{
    position: relative;
    width: 2.5vw;
    left: 90.5vw;
    top: -20.3vw;
  }

  .insta{
    position: relative;
    width: 2.5vw;
    left: 83vw;
    top: -16vw;
  }

  .header_link_1,
  .header_link_2,
  .header_link_3{
    font-size: 19px;
  }
}


@media (min-width: 1240px) and (max-width:1439px) {

  .search{
    margin: 30px 100px 0px 0px;
  }

  input {
    width: 335px;
    height: 42px;
  }

  .search_img{
    width: 28px;
    margin-left: 22vw;
    margin-top: 0.5vw;
  }

  .text1{
    max-height: 23vh;
    font-size: 31px;
    line-height: 50px;
    padding: 2vw 3vw;
  }

  .text2{
    padding: 4.5vw 3vw;;
    font-size: 31px;
  }

  .hand{
    position: relative;
    display: block;
    width: 16.5vw;
    height: 76.5vh;
    margin-top: -43.5vw;
    margin-left: 69.2vw;
  }

  .img_hand{
    width: 38vw;
    margin-left:  -16.3vw;
    margin-top: 0vw;

  }


  .planets{
    margin-top: 64vw;
  }
  .name{
    font-size: 22px;
    margin-top: -1.5vw;
  }

  .part2{
    margin-top: 83vw;
  }

  .mood{
    padding: 0vw 4vw 2vw 6vw;
    font-size: 19px;
    line-height: 4.3;
    margin-left: 69.5vw;
    margin-top: -33vw;
  }

  .color{
    margin-top: -14.3vw;
  }

  .orange,
  .violet,
  .blue,
  .red,
  .green,
  .yellow{
    width: 2.3vw;
    height: 4vh;
    margin: 0vw 1.7vw 0vw 1.9vw;
  }

  .text3{
    max-height: 18vh;
    font-size: 31px;
    line-height: 50px;
    padding: 2vw 3vw 3.5vw;
  }

  .buy{
    font-size: 19px;
  }


  .footer{
    margin-top: 157vw;
    font-size: 19vw;

  }

  .footer_menu{
    font-size: 19px;
  }

  .footer_email{
    font-size: 19px;
  }


  .facebook{
    position: relative;
    width: 2.5vw;
    left: 90.5vw;
    top: -20.5vw;
  }

  .insta{
    position: relative;
    width: 2.5vw;
    left: 83vw;
    top: -16vw;
  }

  .header_link_1,
  .header_link_2,
  .header_link_3{
    font-size: 19px;
  }

}
